<!DOCTYPE html>
<html>
  <head>
    <link href="/css/bulma.min.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rekap Aja</title>
  </head>

  <body>
    <div class="container">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h2 class="subtitle">
              Sukses!
            </h2>
            <form action="/home" method="get">
              <button
                type="submit"
                class="button is-link has-text-weight-medium is-medium"
              >
                Kembali ke awal
              </button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
